.canvas {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  
    width: 100%;
    height: 100vh;
  
    background-color: rgb(26, 26, 26);
    overflow: hidden;
  }
  
  .connecting-dots {
  
    height: 100%;
    width: 100%;
  }