:root {
  --primary-gold: #ad974f;
  --secondary-gold: #8e793e;
  --background-color: #2b2d31;
  --dark-background-color: rgb(26, 26, 26);
  --text-color: #EAEAEA;
}

.App {
  text-align: center;
  color: var(--text-color);
  background-color: var(--dark-background-color);
  height: fit-content;
  padding-bottom: 5vh;
}

.App-link {
  color: #61dafb;
}

.MainSectionHeader {
  text-align: left;
  font-size: 2.5vw;
  color: var(--primary-gold);
}

.container-root {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    z-index: 999;
  
}

.container-root-projects {
  position: relative;
  display: flex;
  width: 100%;
  z-index: 999;
  min-height: fit-content; /* Changed from fixed height */
}

@media (max-width: 600px) {
  .container-root-projects {
    min-height: 100vh;
  }
}

@media (min-width: 600px) {
  .container-root-projects {
    min-height: 105vh; /* Changed from fixed height */
  }
}

/* Add responsive grid support */
@media (min-width: 1200px) {
  .container-root-projects {
    min-height: 120vh; /* Accommodate 3-column layout */
  }
}
